name: python
on:
  push:
    paths:
      - ".github/workflows/python.yml"
      - "pyup"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Check python version"
        run: python -V
      - name: "Check directory"
        run: pwd
      - name: "List directory"
        run: ls -R
      - name: "Chceckout"
        uses: actions/checkout@v4
