name: python
on:
  push:
    paths:
      - ".github/workflows/python.yml"
      - "pyup"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Check python version"
        run: python -V
      - name: "Check directory"
        run: pwd
      - name: "Chceckout"
        uses: actions/checkout@v4
      - name: "List directory"
        run: ls -R
      - name: "Instal python"
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: "Check python version"
        run: python -V
